{% set blogpagevariable = 'blogpage' %}
{% extends "_layout" %}
{% set metaRobots = "noindex, follow" %}

{% block content %}

<div class="container margin-top">

	<div class="span7 offset1">

		<h2>{{ category.title }} Posts</h2>

		{% paginate craft.entries.section('blog').limit(10).relatedTo(category) as entries %}

			{% for post in entries %}
				<div class="post-summary">

					{% include "parts/post" with { entry: post, includeComments: true } %}

				</div>
			{% endfor %}

			<hr>

			<p>
				{% if paginate.prevUrl %}
					<a href="{{ paginate.prevUrl }}">Previous Page</a>
					{% if paginate.nextUrl %} | {% endif %}
				{% endif %}

				{% if paginate.nextUrl %}
					<a href="{{ paginate.nextUrl }}">Next Page</a>
				{% endif %}
			</p>

			<br>

		{% endpaginate %}

	</div>

	{% include "parts/blog-sidebar" %}

</div>

{% endblock %}